.cart-image {
  padding:5px;
  border-radius: 10px;
  height: 200px!important;
}
.inc-button {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: var(--hover-color);
  border: none;
  color: white;
}
.increment-quantity{
    margin: auto;
    margin-right: 100px;
    margin-bottom: 10px;
}
.shopingcart-img{
  border: 1px solid rgb(223, 223, 222);
    background: rgb(238, 236, 236);
}


.button-primary{
  background-color: transparent;
  border: 1px solid var(--second-color);
  padding: 3px 7px;
  font-size: var(--normal-fonts);
  border-radius: 50px;
  font-size: 2vmin;
  color: var(--second-color);
  cursor: pointer;
  transition: all 0.5s;
}
.button-primary:hover {
  background-color: var(--second-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: white;
}