.cart-image {
  padding:5px;
  border-radius: 10px;
  height: 200px!important;
}
.inc-button {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: var(--hover-color);
  border: none;
  color: white;
}
.increment-quantity{
    margin: auto;
    margin-right: 100px;
    margin-bottom: 10px;
}
.shopingcart-img{
  border: 1px solid rgb(223, 223, 222);
    background: rgb(238, 236, 236);
}