@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

.banner-image {
  background-image: url("../../assets/menu_pasta_7.jpg");
  height: 100vmin;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed!important;
}

.banner-text {
  position: absolute;
  left: 0;
  top: 30%;
  right: 0;
}
.banner-heading {
  color: #143642;
  font-size: 15vmin;
  letter-spacing: 14px;
}
.banner-welcome {
  color: white;
  font-size: 5vmin;
  font-family: "Alex Brush", cursive;
}
@media (max-width: 768px) {
  .banner-text {
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 50%;
    right: 0;
  }
  .banner-heading {
    color: #143642;
    font-size: 10vmin;
    letter-spacing: 14px;
  }
  .banner-welcome {
    color: white;
    font-size: 5vmin;
    font-family: "Alex Brush", cursive;
  }
}