.full-logo{
    height: 90px;
    padding: 4px;
}
.profile-img{
    height: 50px;
    width: 50px;
    padding: 4px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 8px 4%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  align-items: center;
}
 